body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #55acee;
    font-family: arial;
    font-weight: 300;
    background: url("bg.png") no-repeat;
    background-size: 110%;
}


#login-box {
    position: relative;
    margin: 11% auto;
    float: right;
    height: 400px;
    width: 600px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 6.);
    margin-right: 60px;
}
.left-box{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-color:rgba(0,0,0,0.1);
    
}
h1{
    margin: 0 0 20px 0;
    text-align: center;
    font-weight: 300;
    font-size : 28px;
    color: #fff;
    font-family: viga;
   
}
input[type="text"],
input[type="password"]{
    display: block;
    box-sizing: border-box;
    margin-bottom: -5px;
    padding: 15px;
    width:220px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    background-color: rgb(0, 0, 0, 0.1);
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    color: rgb(255, 253, 253);
}
.login-input{
    display: block;
    box-sizing: border-box;
    margin-bottom: -5px;
    padding: 15px;
    width:220px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 2px solid grey;
    background-color: rgb(222, 228, 227) !important;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    color: rgb(0, 0, 0);
}
.login-input:not(:focus){
    color: black;
}

.userpass {
    margin-top: 30px;

}

input[type="submit"]{
    margin-top: 34px;
    margin-bottom: 28px;
    width: 220px;
    height: 32px;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight:500;
    text-transform: 0.2s ease;
    cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus{
    background: #ff5722;
    transition: 0.2s ease;
}

.or{
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    color:#55acee;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    line-height: 40px;
    text-align: center;
}




.right-box {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
    justify-content: center;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
}
.right-box .sosmed{
    display: block;
    margin-bottom: auto;
    margin-top: 121px;
    font-size: 13px;
    background-color: rgba(0,0,0,0);
    padding: 11px;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.sosmed:hover {
    color: #4939dd;
}

button{
    margin-bottom: 15px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-family: sans-serif;
    font-weight:500;
    transition: 0.2s ease;
    cursor: pointer;
}
.facebook{
    background: #32508e;
    position: center;
    margin-bottom:15px;
}
.twitter{
    background: #339bf0;
    margin-bottom: 15px;
   
}
.google{
    background: rgb(163, 6, 6);
    
}

.header {
    display: block;
    width: 100%;
    height: 60px;
    background-color: rgba(5, 4, 4, 0.3);
    margin-top: 0px;
    position: absolute;
    z-index: -100;
}
.header h1 {
    text-align: left;
    margin-left: 160px;
    font-family: Viga;
    font-size: 32px;
    margin-top: 10px;
}

.heading-center {
    position: absolute;
    margin-top: 150px;
    margin-bottom: auto;
    margin-left: 100px;
}

.heading-center h1 {
    font-size: 80px;
    text-shadow: 5px 2px 2px #150666;
    text-align: left;
    margin-bottom: 50px;
    font-weight: bold;
    
}


.heading-center h3 {
    font-size: 30px;
    color: white;
    text-shadow: 5px 2px 2px #150666;
    font-family: 'Josefin Sans', sans-serif;
   
}

.typewrite{
    font-size:25px;
    position: absolute;
    margin-top: -199px;
    margin-left: 250px;
    margin-right: auto;
    font-family: Viga;
    
}

.reg{
    font-size: 30px;
    font-family: Viga;
    color: #fff;
    margin-left: 250px; 
    
}